/*{
    margin: 0;
    padding: 0;  /*alles auf Null
}*/

body {
    background-color: rgb(216, 216, 216);

    color: blue;

    font-family: Verdana;
    font-weight: normal;
    font-size: 18px;
    /*dasselbe*/
    font: normal 18px Verdana;

    line-height: 1.7em;
}
/*h1{
    font: bold;
}*/
.Box-1{
    background-color: rgb(121, 116, 116);
    color: rgb(0, 0, 0);
    /*margin: 5px 10px 5px 10px;
    border-left:5px blue solid;
    border-right:5px blue solid;
    border-top:5px blue solid;
    border-bottom:5px blue solid;*/

    border: 5px rgb(187, 187, 243) solid; /*zusammengefasst wie oben*/
    padding: 5px;
    border-radius: 20px;
}
.Box-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(88, 88, 88);
    color: rgb(230, 230, 193);
    border: 5px rgb(66, 66, 66) solid;
    padding: 5px;
    border-radius: 10px;
}
.container{
    width:65%;
    margin:auto;
}
.Box-3-NonContainer{
    background-color: rgb(155, 209, 209);
    color: rgb(43, 43, 43);
    margin: auto;
    padding: 10px;
    border: 5px rgb(136, 101, 153) solid;
    border-radius: 10px;
    width: 65%;
}
.picAlign{
    text-align: center;
}